<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeenHub - About US</title>
    <link rel="icon" href="/static/img/about.jpg" type="image/jpg" sizes="32x32">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="#">TeenHub</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#home" class="smoothScroll">Top</a>
            <a href="{% url 'show_home' %}">Search</a>
			<a href="#applications" class="smoothScroll">Applications</a>
			<a href="#about" class="smoothScroll">About US</a>
			<a href="#contact" class="smoothScroll">Contact</a>
			<a href="https://www.facebook.com/Teenhubcom-950730631767089/"><i class="icon-facebook"></i></a>
			<a href="https://www.linkedin.com/company/teenhub-com/"><i class="icon-linkedin"></i></a>
			<a href="teenhub9@gmail.com"><i class="icon-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>



	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="background">
		<div class="container">
			<a href="{% url 'show_home' %}"><h1>Teen<strong>HUB</strong></h1></a>
			<h2>One Place for your Entertainment</h2>
		</div><!-- /container -->
	</div><!-- /headerwrap -->


	<!-- ========== Intro Message ========== -->
	<div id="whiteContainer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				<h3>WELCOME TO <strong>TeenHUB</strong>. A PLACE TO <strong>HANGOUT, RELAX</strong> AND <strong>ENJOY LIFE</strong> . CRAFTED WITH LOVE BY <strong>TEAMNAME</strong>. <br/></h3>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /whiteContainer -->

	<!-- ========== Applications ========== -->
	<section id="applications" name="applications"></section>
	<div id="greyContainer">
		<div class="container">
			<div class="row">
				<h3>OUR APPLICATIONS</h3>
				<br>
				<br>
				<div class="col-lg-3 col-md-6">
                    <img id="applicationImage" src="{% static 'img/svg/movies.svg' %}">
					<h4>Movies</h4>
					<p>Movie database contains 27000+ movies and the data was created by 100000+ users between January 1995 to March 2015</p>
				</div>
				<div class="col-lg-3 col-md-6">
                    <img id="applicationImage" src="{% static 'img/svg/music.svg' %}">
					<h4>Songs</h4>
					<p>Songs section contains top rated songs,weekky popular songs,upcoming songs with their previews which help user before purchasing any album</p>
				</div>
				<div class="col-lg-3 col-md-6">
                    <img id="applicationImage" src="{% static 'img/svg/game-controller.svg' %}">
					<h4>Games</h4>
					<p>Games section is classified into upcoming games,weekly popular games,high rated games and game database contains 5000+ games </p>
				</div>
				<div class="col-lg-3 col-md-6">
                    <img id="applicationImage" src="{% static 'img/svg/news.svg' %}">
					<h4>News</h4>
					<p>News has two section namely technology and entertainment news,where user get news in very 0.5sec through API</p>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /greyContainer -->
	<!-- ========== Languages used ========== -->
	<div id="darkGreyContainer">
		<div class="container">
			<div class="row">
				<h3>LANGUAGES USED IN OUR PROJECT</h3>
				<br>
				<br>
				<div class="col-lg-4">
					<canvas id="javascript" height="130" width="130"></canvas>
					<br>
					<h4>Javascript</h4>
					<br>
					<script>
						var doughnutData = [
								{
									value: 30,
									color:"#f85c37"
								},
								{
									value : 70,
									color : "#ecf0f1"
								}
							];
							var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
					</script>

				</div>
				<div class="col-lg-4">
					<canvas id="python" height="130" width="130"></canvas>
					<br>
					<h4>Python</h4>
					<br>
					<script>
						var doughnutData = [
								{
									value: 40,
									color:"#f85c37"
								},
								{
									value : 60,
									color : "#ecf0f1"
								}
							];
							var myDoughnut = new Chart(document.getElementById("python").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div>
				<div class="col-lg-4">
					<canvas id="html" height="130" width="130"></canvas>
					<br>
					<h4>HTML & CSS</h4>
					<br>
					<script>
						var doughnutData = [
								{
									value: 30,
									color:"#f85c37"
								},
								{
									value : 70,
									color : "#ecf0f1"
								}
							];
							var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div>

			</div>
		</div><!-- /container -->
	</div><!-- /darkGreyContainer -->

	<!-- ========== ABOUT - GREY SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="greyContainer">
		<div class="container">
			<div class="row">
				<h3>ABOUT US</h3>
				<br>
				<br>
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
				<p>Teenhub falls under two category Machine learning and Web Application and it's a recommendation system where it recommend user movie,songs,games and news by tracking their previous activities. It's a common platform for all entertainment activity and Recommendation for the user will be based on item based collaborative filtering where user rating and profile will be compared with other user's</p>
				<br>
				<br>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-3 team">
					<img class="img-circle" src="{% static 'img/profilePic/Pranav.jpg' %}" height="90" width="90">
					<h4>Pranav Jain</h4>
					<h5><i>Supreme Leader</i></h5>
					<p>Being leader, pranav monitors the whole website and design overview of the website</p>
					<p>
						<a href="https://www.facebook.com/pranav.jain.338" target="_blank"><i class="icon-facebook"></i></a>
						<a href="https://www.linkedin.com/in/pranavj1001/" target="_blank"><i class="icon-linkedin"></i></a>
						<a href="mailto:pranavj1001@gmail.com"><i class="icon-envelope"></i></a>

					</p>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="{% static 'img/profilePic/Kedar.jpg' %}" height="90" width="90">
					<h4>Kedar Kale</h4>
					<h5><i>MLG Pro</i></h5>
					<p>kedar is a python expert and a web designer and he also handles the back end part of the website</p>
					<p>
						<a href="https://www.facebook.com/kedar.kale.9" target="_blank"><i class="icon-facebook"></i></a>
						<a href="https://www.linkedin.com/in/kedarkale/" target="_blank"><i class="icon-linkedin"></i></a>
						<a href="mailto:kedar30092010@gmail.com"><i class="icon-envelope"></i></a>

					</p>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="{% static 'img\profilePic\ganesh.jpg'%}" height="90" width="90">
					<h4>Ganesh Choudhary</h4>
					<h5><i>Web Designer</i></h5>
					<p>Ganesh is expert in designing webpages and he also handles the back end of website</p>
					<p>
						<a href="https://www.facebook.com/profile.php?id=100010924779800" target="_blank"><i class="icon-facebook"></i></a>
						<a href="https://www.linkedin.com/in/ganesh-choudhary-632bb8b8/" target="_blank"><i class="icon-linkedin"></i></a>
						<a href="mailto:ganeshmukesh123@gmail.com"><i class="icon-envelope"></i></a>

					</p>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="{% static 'img/profilePic/Paresh.jpg' %}" height="90" width="90">
					<h4>Paresh Aher</h4>
					<h5><i>Web Designer</i></h5>
					<p>Paresh is a web designer and handles all work related to the code editing, photo editing and designing web page</p>
					<p>
						<a href="https://www.facebook.com/AhErpArEsh" target="_blank"><i class="icon-facebook"></i></a>
						<a href="https://www.linkedin.com/in/paresh-aher-643b8682/" target="_blank"><i class="icon-linkedin"></i></a>
						<a href="mailto:aher.paresh@hotmail.com"><i class="icon-envelope"></i></a>

					</p>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /greyContainer -->

	<!-- ========== FOOTER SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="footer">
		<div class="container">
			<div class="row">
					<h3><b>CONTACT US</b></h3>
					<br>
					<div class="col-lg-4">
						<h3><b>Send Us A Message:</b></h3>
						<h3>teenhub9@gmail.com</h3>
						<br>
					</div>

					<div class="col-lg-4">
						<h3><b>Call Us:</b></h3>
						<h3>911</h3>
						<br>
					</div>

					<div class="col-lg-4">
						<h3><b>We Are Social</b></h3>
						<p>
							<a href="https://www.facebook.com/Teenhubcom-950730631767089/"><i class="icon-facebook"></i></a>
							<a href="https://www.linkedin.com/company/teenhub-com/"><i class="icon-linkedin"></i></a>
							<a href="teenhub9@gmail.com"><i class="icon-envelope"></i></a>
						</p>
						<br>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /footer -->

	<div id="creator">
		<div class="container">
			<p>Created by <a href="https://github.com/pranavj1001/TeenHub">TeenHUB Team</a></p>
		</div>
	</div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
