<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movies</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="#">TeenHub</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#home" class="smoothScroll">Top</a>
            <a href="{% url 'show_home' %}">Search</a>
			<a href="#applications" class="smoothScroll">Applications</a>
			<a href="#about" class="smoothScroll">About US</a>
			<a href="#contact" class="smoothScroll">Contact</a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active first-carousel">
          <picture>
            <source srcset="{% static "img/captain-america-1920p.jpg" %} 1600w" media="(min-width: 1920px)">
            <source srcset="{% static "img/captain-america-1600p.jpg" %} 1600w" media="(min-width: 1600px)">
            <source srcset="{% static "img/captain-america-1366p.jpg" %} 1366w" media="(min-width: 1366px)">
            <source srcset="{% static "img/captain-america-1280p.jpg" %} 1280w" media="(min-width: 1280px)">
            <source srcset="{% static "img/captain-america-800p.jpg" %} 800w" media="(min-width: 640px)">
            <img srcset="{% static "img/captain-america-640p.jpg" %} 640w" alt="Civil War">
          </picture>
        </div>

        <div class="item second-carousel">
          <picture>
            <source srcset="{% static "img/interstellar-1920p.jpg" %} 1600w" media="(min-width: 1920px)">
            <source srcset="{% static "img/interstellar-1600p.jpg" %} 1600w" media="(min-width: 1600px)">
            <source srcset="{% static "img/interstellar-1366p.jpg" %} 1366w" media="(min-width: 1366px)">
            <source srcset="{% static "img/interstellar-1280p.jpg" %} 1280w" media="(min-width: 1280px)">
            <source srcset="{% static "img/interstellar-800p.jpg" %} 800w" media="(min-width: 640px)">
            <img srcset="{% static "img/interstellar-640p.jpg" %} 640w" alt="Interstellar">
          </picture>
        </div>

        <div class="item third-carousel">
          <picture>
            <source srcset="{% static "img/hunger-games-1920p.jpg" %} 1600w" media="(min-width: 1920px)">
            <source srcset="{% static "img/hunger-games-1600p.jpg" %} 1600w" media="(min-width: 1600px)">
            <source srcset="{% static "img/hunger-games-1366p.jpg" %} 1366w" media="(min-width: 1366px)">
            <source srcset="{% static "img/hunger-games-1280p.jpg" %} 1280w" media="(min-width: 1280px)">
            <source srcset="{% static "img/hunger-games-800p.jpg" %} 800w" media="(min-width: 640px)">
            <img srcset="{% static "img/hunger-games-640p.jpg" %} 640w" alt="Hunger Games">
          </picture>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



	<footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; <a href="https://github.com/pranavj1001/TeenHub">TeenHUB team</a></span>
        </div>
    </footer>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
