{% extends 'movies/movies.html' %}

{% block searchBox %}

    <div id="searchContainer" class="container">
        <h3 id="searchHeading">Teen<strong>HUB</strong><span class="subHeading">Movies</span></h3>
        <div id="searchBox" class="inner-addon right-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" class="form-control lightGrayBg searchText" placeholder="Search" />
        </div>
    </div>

{% endblock %}

{% block popularMovies %}

    <h2 class="sectionHeading veryLightGrayText">Popular Movies</h2>

    <section id="popularMovies">
    <div id="pm" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" id="pmIndicators">
        <!-- assign the indicators -->
      </ol>
      <div class="carousel-inner heightAuto" id="pmItems">
        <!-- assign items and cards -->
      </div>
      <a class="carousel-control-prev fivePercentWidthOnDesktop" href="#pm" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next fivePercentWidthOnDesktop" href="#pm" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </section>

{% endblock %}

{% block recommendations %}

    {% if request.session.id %}

        <h2 class="sectionHeading veryLightGrayText">Recommendations for you</h2>

        <section id="recommendations">
        <div id="rm" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators" id="rmIndicators">
            <!-- assign the indicators -->
          </ol>
          <div class="carousel-inner heightAuto" id="rmItems">
            <!-- assign items and cards -->
          </div>
          <a class="carousel-control-prev fivePercentWidthOnDesktop" href="#rm" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next fivePercentWidthOnDesktop" href="#rm" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        </section>

    {% endif %}

{% endblock %}

{% block ourTopPicks %}

    <h2 class="sectionHeading veryLightGrayText">Our Top Picks</h2>

    <section id="ourTopPicks">
    <div id="otp" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" id="otpIndicators">
        <!-- assign the indicators -->
      </ol>
      <div class="carousel-inner heightAuto" id="otpItems">
        <!-- assign items and cards -->
      </div>
      <a class="carousel-control-prev fivePercentWidthOnDesktop" href="#otp" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next fivePercentWidthOnDesktop" href="#otp" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </section>

{% endblock %}

{% block moviesNews %}

    <h2 class="sectionHeading veryLightGrayText">Todays Top News</h2>

    <section class="moviesNews">
        <div id="mNews" class="sectionAlignment veryLightGrayText">
            <!-- News go here -->
        </div>
    </section>

{% endblock %}

{% block upcomingMovies %}

    <h2 class="sectionHeading veryLightGrayText">Upcoming Movies</h2>

    <section id="upcomingMovies">
    <div id="um" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" id="umIndicators">
        <!-- assign the indicators -->
      </ol>
      <div class="carousel-inner heightAuto" id="umItems">
        <!-- assign items and cards -->
      </div>
      <a class="carousel-control-prev fivePercentWidthOnDesktop" href="#um" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next fivePercentWidthOnDesktop" href="#um" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </section>

{% endblock %}

{% block ajaxBlock %}

    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript">

    $.ajax({
        type: "GET",
        url: "https://api.themoviedb.org/3/movie/popular?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US&page=1",
        dataType: "json",
        success: function(result){
            var movieDetails = result.results;
            var posterURLs = [];
            var titles = [];
            var ids = [];
            for(var i = 0; i < movieDetails.length; i++){
                posterURLs[i] = "https://image.tmdb.org/t/p/w342" + movieDetails[i].poster_path;
                titles[i] = movieDetails[i].original_title;
                ids[i] = movieDetails[i].id;
            }
            var carousel = 'pm';
            getPoster(posterURLs, titles, ids, carousel);
        }
    });

    {% if request.session.id %}
    function prepareRecommendationsCard() {
        var posterURLs = [];
        var titles = [];
        var ids = [];
        var carousel = 'rm';
        var index = -1;
        $.ajax({
            type: "GET",
            url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies1 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
            dataType: "json",
            success: function(result){
                titles[++index] = result.title;
                posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                ids[index] = {{ request.session.recommendationsMovies1 }};
                $.ajax({
                    type: "GET",
                    url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies2 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                    dataType: "json",
                    success: function(result){
                        titles[++index] = result.title;
                        posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                        ids[index] = {{ request.session.recommendationsMovies2 }};
                        $.ajax({
                            type: "GET",
                            url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies3 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                            dataType: "json",
                            success: function(result){
                                titles[++index] = result.title;
                                posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                                ids[index] = {{ request.session.recommendationsMovies3 }};
                                $.ajax({
                                    type: "GET",
                                    url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies4 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                                    dataType: "json",
                                    success: function(result){
                                        titles[++index] = result.title;
                                        posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                                        ids[index] = {{ request.session.recommendationsMovies4 }};
                                        $.ajax({
                                            type: "GET",
                                            url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies5 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                                            dataType: "json",
                                            success: function(result){
                                                titles[++index] = result.title;
                                                posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                                                ids[index] = {{ request.session.recommendationsMovies5 }};
                                                $.ajax({
                                                    type: "GET",
                                                    url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies6 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                                                    dataType: "json",
                                                    success: function(result){
                                                        titles[++index] = result.title;
                                                        posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                                                        ids[index] = {{ request.session.recommendationsMovies6 }};
                                                        $.ajax({
                                                        type: "GET",
                                                        url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies7 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                                                        dataType: "json",
                                                        success: function(result){
                                                            titles[++index] = result.title;
                                                            posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                                                            ids[index] = {{ request.session.recommendationsMovies7 }};
                                                            $.ajax({
                                                                type: "GET",
                                                                url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies8 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                                                                dataType: "json",
                                                                success: function(result){
                                                                    titles[++index] = result.title;
                                                                    posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                                                                    ids[index] = {{ request.session.recommendationsMovies8 }};
                                                                    $.ajax({
                                                                        type: "GET",
                                                                        url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies9 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                                                                        dataType: "json",
                                                                        success: function(result){
                                                                            titles[++index] = result.title;
                                                                            posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                                                                            ids[index] = {{ request.session.recommendationsMovies9 }};
                                                                            $.ajax({
                                                                                type: "GET",
                                                                                url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.recommendationsMovies10 }}" + "?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US",
                                                                                dataType: "json",
                                                                                success: function(result){
                                                                                    titles[++index] = result.title;
                                                                                    posterURLs[index] = "https://image.tmdb.org/t/p/w342" + result.poster_path;
                                                                                    ids[index] = {{ request.session.recommendationsMovies10 }};
                                                                                    getPoster(posterURLs, titles, ids, carousel);
                                                                                }
                                                                            });
                                                                        }
                                                                    });
                                                                }
                                                            });
                                                        }
                                                    });
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            }
        });
    }

    prepareRecommendationsCard();
    {% endif %}

    $.ajax({
        type: "GET",
        url: "https://api.themoviedb.org/3/movie/top_rated?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US&page=1",
        dataType: "json",
        success: function(result){
            var movieDetails = result.results;
            var posterURLs = [];
            var titles = [];
            var ids = [];
            for(var i = 0; i < movieDetails.length; i++){
                posterURLs[i] = "https://image.tmdb.org/t/p/w342" + movieDetails[i].poster_path;
                titles[i] = movieDetails[i].original_title;
                ids[i] = movieDetails[i].id;
            }
            var carousel = 'otp';
            getPoster(posterURLs, titles, ids, carousel);
        }
    });

    $.ajax({
        type: "GET",
        url: "https://api.themoviedb.org/3/movie/upcoming?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US&page=1",
        dataType: "json",
        success: function(result){
            var movieDetails = result.results;
            var posterURLs = [];
            var titles = [];
            var ids = [];
            for(var i = 0; i < movieDetails.length; i++){
                posterURLs[i] = "https://image.tmdb.org/t/p/w342" + movieDetails[i].poster_path;
                titles[i] = movieDetails[i].original_title;
                ids[i] = movieDetails[i].id;
            }
            var carousel = 'um';
            getPoster(posterURLs, titles, ids, carousel);
        }
    });

    $.ajax({
        type: "GET",
        url: "https://newsapi.org/v1/articles?source=mashable&sortBy=top&apiKey=bdbcae478d174e04ba1504b2914cc143",
        dataType: "json",
        success: function(result){
            var newsData = result.articles;
            var news = {
                authors: [],
                titles: [],
                description: [],
                urls: []
            };
            for(var i = 0; i < 4; i++){
                news.titles[i] = newsData[i].title;
                news.authors[i] = newsData[i].author;
                news.description[i] = newsData[i].description;
                news.urls[i] = newsData[i].url;
            }
            postNews(news);
        }
    });

    function getPoster(posterURLs, titles, ids, carousel) {
        var device;
        var carouselItems;
        var numberOfCards;
        var counter = 0;
        var width;
        var sectionID = '';
        var cardID = '';
        var indicatorsID = '';
        var urls = [];
        if($('.desktop').css('display') === 'block'){
            device = "desktop";
            carouselItems = 4;
            numberOfCards = 6;
            if(carousel === 'rm'){
                carouselItems = 2;
            }
        }else if($('.tablet').css('display') === 'block') {
            device = "tablet";
            carouselItems = 7;
            numberOfCards = 3;
            if(carousel === 'rm'){
                carouselItems = 4;
            }
        }else if($('.mobile').css('display') === 'block') {
            device = "mobile";
            carouselItems = 10;
            numberOfCards = 2;
            if(carousel === 'rm'){
                carouselItems = 5;
            }
        }
        width = 100/ numberOfCards;
        if(carousel === 'pm'){
            sectionID = '#popularMovies';
            cardID = '#pmItems';
            indicatorsID = '#pmIndicators';
        }else if(carousel === 'otp'){
            sectionID = '#ourTopPicks';
            cardID = '#otpItems';
            indicatorsID = '#otpIndicators';
        }else if(carousel === 'um'){
            sectionID = '#upcomingMovies';
            cardID = '#umItems';
            indicatorsID = '#umIndicators';
        }else if(carousel === 'rm'){
            sectionID = '#recommendations';
            cardID = '#rmItems';
            indicatorsID = '#rmIndicators';
            console.log("reached here");
        }
        for(var i = 0; i < ids.length; i++){
            urls[i] = 'infoMovies/' + ids[i] + '/';
        }
        carousel = '#' + carousel;
        $(sectionID).addClass(device);
        // make carousel
        var start = '<div class="carousel-item active">';
        var string = '';
        var list = '<li data-target="' + carousel + '" data-slide-to="0" class="active"></li>';
        for(var j = 0; j < numberOfCards; j++){
            string += '<div onclick="showLink(this)" link="' + urls[counter] + '" class="card genre" style="width:' + width + '%"><img class="card-img-top genreImg" src="' + posterURLs[counter] + '" alt="action"> <div class="card-block"> <h4 class="card-title veryLightGrayText">' + titles[counter] + '</h4> </div></div>';
            counter++;
        }
        var final = start + string + '</div>';
        for(var i = 1; i < carouselItems; i++){
                var start1 = '<div class="carousel-item">';
                var string1 = '';
                list += '<li data-target="' + carousel + '" data-slide-to="' + i + '"></li>';
                for (var j = 0; j < numberOfCards; j++) {
                    if(carousel === '#rm' && counter === 10)
                        break;
                    if(counter === 20)
                        break;
                    string1 += '<div onclick="showLink(this)" link="' + urls[counter] + '" class="card genre" style="width:' + width + '%"><img class="card-img-top genreImg" src="' + posterURLs[counter] + '" alt="action"> <div class="card-block"> <h4 class="card-title veryLightGrayText">' + titles[counter] + '</h4> </div></div>';
                    counter++;
                }
                final += start1 + string1 + '</div>';
        }
        $(indicatorsID).html(list);
        $(cardID).html(final);
    }
    
    function postNews(news) {
        var final = '';
        for(var i = 0; i < 4; i++){
            final += '<h4 class="veryLightGrayText">' + news.titles[i] + '</h4><p>' + news.authors[i] + '</p><p>' + news.description[i] + '</p><a target="_blank" href="' + news.urls[i] + '">More Info</a>';
        }
        $('#mNews').html(final);
    }

    function showLink(element){
        window.location.href = element.attributes.link.value;
    }

    </script>

{% endblock %}