{% extends "news/news.html" %}

{% block searchBox %}

    <div id="searchContainer" class="container">
        <h3 id="searchHeading">Teen<strong>HUB</strong><span class="subHeading">News</span></h3>
        <div id="searchBox" class="inner-addon right-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" class="form-control lightGrayBg searchText" placeholder="Search" id="inputBox" />
        </div>
    </div>

{% endblock %}

{% block SearchedNews %}
    <div id="searchNews" class="container">
        
    </div>
{% endblock %}

{% block ajaxBlock %}
    
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript">
    
    let APIKEY = "c97376d8658b4d3ebd52b87297491737";

    $("#inputBox").keypress(function(e) {
        var key = e.keyCode;
        if(key == 13){
            var inputText = $("#inputBox").val();
            //console.log(inputText);
            $.ajax({
                method:"GET",
                url:"https://newsapi.org/v2/everything?q="+inputText+"&apiKey="+APIKEY,
                dataType: "json",
                success: function(result){
                    console.log(result.articles);
                    var articles = result.articles;
                    var articleList="";
                    $.each(articles,(index,article)=>{
                        // console.log(article.author);
                        // console.log(article.title);
                        // console.log(article.description);
                        // console.log(article.source.name);
                        // console.log(article.urlToImage);
                        // console.log(article.url);
                        // console.log("-------------");
                        if(article.urlToImage != "null"){
                            articleList += `
                            <div class="news-item"><a target="_blank" href="${article.url}">
                                <div class="news-item-image">
                                    <img class="news-image" src="${article.urlToImage}">
                                </div></a>
                                <div class="news-item-info">
                                    <a class="title" target="_blank" href="${article.url}">${article.title}</a>
                                    <div class="description"><p>${article.description}</p></div>
                                    <div class="other-detail" >
                                            <div class="source-name">${article.source.name}</div>
                                            <div class="published"">${article.publishedAt}</div>
                                    </div>
                                </div>
                            </div>
                            `;
                        }
                    });
                    $("#searchNews").html(articleList);
                }
            });
        }
    });

    </script>

{% endblock %}