{% extends 'Songs/baseInfoSongs.html' %}

{% block info %}

    <section id="infoMovie">
        <div class="row container-fluid detailSpace">
            <div class="col-sm-3 col-6">
                <div class="card genre" id="thumbnail"></div>
            </div>
            <div class="col-md-9 spaceOnDesktop">
                <h1 id="albumName" class="whiteText titleSpace"></h1>
                <p id="artistName" class="whiteText description"></p>
                <p id="songslisteners" class="whiteText description"></p>
                <p id="songsplaycount" class="whiteText description"></p>
                <p id="songsPublished" class="whiteText description"></p>
                <p id="songsSummary" class="whiteText description"></p>
{#                <p class="whiteText description"><strong>Crew:</strong></p>#}
{#                <p class="whiteText description">Director:</p>#}
{#                <div id="crew-director"></div>#}
{#                <p class="whiteText description">Producers:</p>#}
{#                <div id="crew-producer"></div>#}
            </div>
        </div>
    </section>

{% endblock %}


{% block topTracks %}

    <section class="mobile">
    </section>
    <section class="tablet">
    </section>
    <section class="desktop">
    </section>

    <h2 class="sectionHeading veryLightGrayText" > Tracks of Album</h2>

    <section id="topTracks">
    <div id="tta" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" id="ttaIndicators">
        <!-- assign the indicators -->
      </ol>
      <div class="carousel-inner heightAuto" id="ttaItems">
        <!-- assign items and cards -->
      </div>
      <a class="carousel-control-prev fivePercentWidthOnDesktop" href="#tta" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next fivePercentWidthOnDesktop" href="#tta" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </section>

{% endblock %}





{% block ajaxInfoSongBlock %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

        $.ajax({
            type: "GET",
            url: "http://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key=ef4e44a60f35e9dceea28279e13d4318&artist="+"{{ name }}"+"&album="+"{{ songsinfo }}"+"&format=json",
            dataType: "json",
            success: function(result){
              console.log(result);
              var str = JSON.stringify(result.album.image[5]);
              var n = str.indexOf("https");
              var m = str.indexOf(`","`);
              var img = str.substring(n,m);
              $('#thumbnail').html('<img class="card-img-top movieThumbnail" src="' + img + '" alt="action">');
               $('#albumName').html(result.album.name);
               $('#infoMovie').css('background', 'linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,1)), url(' + img + ') no-repeat center center fixed');
               $('#infoMovie').css('background-size', 'cover');
               $('#songsSummary').html(result.album.wiki.summary);
               $("#songslisteners").html("<strong>Listeners :</strong>"+result.album.listeners);
               $("#songsplaycount").html("<strong>Playcount :</strong>"+result.album.playcount);
               $("#artistName").html("<strong>Artist :</strong>"+result.album.artist);
               $("#songsPublished").html("<strong>Published on :</strong>"+result.album.wiki.published);

               var trackDetails = result.album.tracks.track;
               var posterURLs = [];
               var titles = [];
               var ids = [];
               var type = 2;
               var tag = [];
               for(var i = 0; i < trackDetails.length; i++){
                 //console.log("inside for");
                 $.ajax({
                     type: "GET",
                     url: "http://ws.audioscrobbler.com/2.0/?method=track.getInfo&api_key=ef4e44a60f35e9dceea28279e13d4318&artist="+trackDetails[i].artist.name+"&track="+trackDetails[i].name+"&format=json",
                     dataType: "json",
                     async:false,
                     success: function(result){
                       //console.log("inside ajax");
                       console.log(result);
                       var trackD = result.track
                           if(trackD.name != null){
                             var str = JSON.stringify(trackD.album.image[3]);
                             var n = str.indexOf("https");
                             var m = str.indexOf(`","`);
                             posterURLs[i] = str.substring(n,m);
                             titles[i] = trackD.name;
                             ids[i] = trackD.name;
                             tag[i] = trackD.artist.name;
                           }
                     }
                 });

                }
                var carousel = 'tta';
                console.log("reach heere");
                getPoster(posterURLs, titles, ids, type, carousel,tag);
            }
        });



    function getPoster(posterURLs, titles, ids, type, carousel, tag = 0) {
        var device;
        var carouselItems;
        var numberOfCards;
        var counter = 0;
        var width;
        var sectionID = '';
        var cardID = '';
        var indicatorsID = '';
        var urls = [];
        if($('.desktop').css('display') === 'block'){
            device = "desktop";
            carouselItems = 4;
            numberOfCards = 6;
            if(carousel === 'rm'){
                carouselItems = 2;
            }
        }else if($('.tablet').css('display') === 'block') {
            device = "tablet";
            carouselItems = 7;
            numberOfCards = 3;
            if(carousel === 'rm'){
                carouselItems = 4;
            }
        }else if($('.mobile').css('display') === 'block') {
            device = "mobile";
            carouselItems = 10;
            numberOfCards = 2;
            if(carousel === 'rm'){
                carouselItems = 5;
            }
        }
        width = 100/ numberOfCards;
        if(carousel === 'sa'){
            sectionID = '#similarArtist';
            cardID = '#saItems';
            indicatorsID = '#saIndicators';
        }else if(carousel === 'tta'){
            sectionID = '#topTracks';
            cardID = '#ttaItems';
            indicatorsID = '#ttaIndicators';
        }else if(carousel === 'ta'){
            sectionID = '#topAlbums';
            cardID = '#taItems';
            indicatorsID = '#taIndicators';
        }else if(carousel === 'pa'){
            sectionID = '#popularAlbum';
            cardID = '#paItems';
            indicatorsID = '#paIndicators';
            //console.log("reached here");
        }
        for(var i = 0; i < ids.length; i++){

            urls[i] = 'infoSongs/' + ids[i] + '/' + tag[i] + '/' + type + '/';

        }
        carousel = '#' + carousel;
        $(sectionID).addClass(device);
        // make carousel
        var start = '<div class="carousel-item active">';
        var string = '';
        var list = '<li data-target="' + carousel + '" data-slide-to="0" class="active"></li>';
        for(var j = 0; j < numberOfCards; j++){
            string += '<div onclick="showLink(this)" link="' + urls[counter] + '" class="card genre" style="width:' + width + '%"><img class="card-img-top genreImg" src="' + posterURLs[counter] + '" alt="action"> <div class="card-block"> <h4 class="card-title veryLightGrayText">' + titles[counter] + '</h4> </div></div>';
            counter++;
        }
        var final = start + string + '</div>';
        for(var i = 1; i < carouselItems; i++){
                var start1 = '<div class="carousel-item">';
                var string1 = '';
                list += '<li data-target="' + carousel + '" data-slide-to="' + i + '"></li>';
                for (var j = 0; j < numberOfCards; j++) {
                    if(carousel === '#rm' && counter === 10)
                        break;
                    if(counter === 20)
                        break;
                    string1 += '<div onclick="showLink(this)" link="' + urls[counter] + '" class="card genre" style="width:' + width + '%"><img class="card-img-top genreImg" src="' + posterURLs[counter] + '" alt="action"> <div class="card-block"> <h4 class="card-title veryLightGrayText">' + titles[counter] + '</h4> </div></div>';
                    counter++;
                }
                final += start1 + string1 + '</div>';
        }
        $(indicatorsID).html(list);
        $(cardID).html(final);
    }



    function showLink(element){
        window.location.href = 'http://127.0.0.1:8000/songs/' + element.attributes.link.value;
    }
</script>
{% endblock %}
