{% extends 'dashboard/dashboard.html' %}

{% block container %}

    <div class="content-wrapper">
      <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'show_dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Your Activities</li>
        <li class="breadcrumb-item active">Movies</li>
      </ol>
      </div>

        {% if request.session.id %}
            <div class="stats-movies">
                <div class="stats-movies--heading">
                    <h1 class="rightLeftMargin mobileTextHeadingH1 GrayText">Statistics</h1>
                    <hr class="rightLeftMargin hrMarginTopNone grayBg">
                </div>

                <div class="row">
                    <div class="rightLeftMargin col-xl-3 col-sm-4 mb-3">
                      <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                          <div class="card-body-icon">
                            <i class="fa fa-fw fa-support"></i>
                          </div>
                          <div class="mr-5">Buy Movie Tickets!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                          <span class="float-left">View Details</span>
                          <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                    <hr class="rightLeftMargin hrMarginTopNone verticalLine grayBg notVisibleForMobile">
                    <div class="rightLeftMargin col-xl-7 col-sm-6 mb-3">
                        <h4 class="mobileTextHeadingH4">Number of Movies: <strong>45684</strong> and counting</h4>
                        <h4 class="mobileTextHeadingH4">Total Ratings done by you : <strong>{{ total_ratings | safe }}</strong></h4>
                        <h4 class="mobileTextHeadingH4">Total Ratings : <strong>9125</strong></h4>
                    </div>
                </div>

                <div class="rightLeftMargin card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Your ratings in the Year: {{ year }} <select id="year"></select></div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-9 my-auto" id="ratings_bar_graph">
                          <canvas id="ratings_movies" width="100" height="50"></canvas>
                        </div>
                        <div class="col-sm-3 text-center my-auto">
                          <div class="h4 mb-0 text-success">{{ ratings_values.4 | safe }}</div>
                          <div class="small text-muted">Movies you rated <strong>Excellent</strong></div>
                          <hr>
                          <div class="h4 mb-0 text-success">{{ ratings_values.3 | safe }}</div>
                          <div class="small text-muted">Movies you rated <strong>Very Good</strong></div>
                          <hr>
                          <div class="h4 mb-0 text-warning">{{ ratings_values.2 | safe }}</div>
                          <div class="small text-muted">Movies you rated <strong>Good</strong></div>
                          <hr>
                          <div class="h4 mb-0 text-warning">{{ ratings_values.1 | safe }}</div>
                          <div class="small text-muted">Movies you rated <strong>Average</strong></div>
                          <hr>
                          <div class="h4 mb-0 text-danger">{{ ratings_values.0 | safe }}</div>
                          <div class="small text-muted">Movies you rated <strong>Not Watchable</strong></div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer small text-muted">True as per our records</div>
                </div>
            </div>

            <div class="rightLeftMargin card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Your ratings in Tabular Format <span class="darkTableToggler"><input checked onclick="toggleTableMode(this)" type="checkbox"> Dark Table</span></div>
                    <div class="card-body">
                        <table id="ratings_movies_table" class="table table-hover table-dark">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Movie Title</th>
                              <th scope="col">Your Rating</th>
                              <th scope="col">Date</th>
                            </tr>
                          </thead>
                          <tbody id="table_data">
                            
                          </tbody>
                        </table>
                    </div>
                    <div class="card-footer small text-muted">True as per our records</div>
                </div>
            </div>

        {% else %}
            <h1 class="rightLeftMargin centerIfTabletAndBelow mobileTextHeading GrayText">You're not logged in</h1>
        {% endif %}

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Created by TeenHub Team</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        console.log({{ rating_date | safe }}, {{ rating_movie_id | safe }}, {{ rating_number }});

        var start = new Date().getFullYear();
        var end = 1900;
        var options = "";
        for(var year = start ; year >= end; year--) {
          options += "<option onclick='changeYear(this)'>"+ year +"</option>";
        }
        document.getElementById("year").innerHTML = options;

        function changeYear(element) {
            window.location.href = "http://127.0.0.1:8000/dashboard/movies/" + element.text + "/";
        }

        function toggleTableMode(element) {
            var table = document.getElementById('ratings_movies_table');
            table.classList.toggle('table-dark');
        }

        var message = String('{{ message | safe }}');

        if(message === '') {
            var ctx = document.getElementById("ratings_movies");
            var myBarChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                  label: "No of Ratings",
                  backgroundColor: "rgba(2,117,216,1)",
                  borderColor: "rgba(2,117,216,1)",
                  data: {{ ratings_per_month | safe }}
                }]
              },
              options: {
                scales: {
                  xAxes: [{
                    time: {
                      unit: 'month'
                    },
                    gridLines: {
                      display: false
                    },
                    ticks: {
                      maxTicksLimit: 12
                    }
                  }],
                  yAxes: [{
                    ticks: {
                      min: 0,
                      max: {{ max | safe }},
                      maxTicksLimit: 5
                    },
                    gridLines: {
                      display: true
                    }
                  }]
                },
                legend: {
                  display: false
                }
              }
            });
        } else {
            var str = '<h1>' + message + '</h1>';
            $('#ratings_bar_graph').html(str);
            $('#table_data').html(str);
        }

    </script>

{% endblock %}