{% extends 'dashboard/dashboard.html' %}

{% block container %}

    <div class="content-wrapper">
    {% if request.session.id %}
      <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'show_dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Change Your Password</li>
      </ol>
      </div>

      <h1 class="rightLeftMargin mobileTextHeadingH1 GrayText">Change your password</h1>
      <hr class="rightLeftMargin hrMarginTopNone grayBg">
      <h5 class="rightLeftMargin GrayText">Listen up! This is a potentially destructive action.</h5>

      <div class="container-fluid">
        <form class="max-width-600px" action="{% url 'change_password' %}" method="post" Content-Type="application/json">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputPassword1">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Enter your current Password here" required>
          </div>
            <div class="alert alert-danger" role="alert">
              Something wrong happened
            </div>
          <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter your new Password here" required>
          </div>
            <div class="alert alert-danger" role="alert">
              Something wrong happened
            </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirm New Password</label>
            <input type="password" class="form-control" id="newConfirmPassword" name="newConfirmPassword" placeholder="Confirm your new Password here" required>
          </div>
            <div class="alert alert-danger" role="alert">
              Something wrong happened
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="alert alert-success" role="alert">
          Success
        </div>

      </div>
    {% else %}
        <h1 class="rightLeftMargin centerIfTabletAndBelow mobileTextHeading GrayText">You're not logged in</h1>
    {% endif %}
    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        console.log("{{ message | safe }}");

    </script>

{% endblock %}
