{% extends 'games/baseInfoGames.html' %}

{% block info %}

    <section id="infoMovie">
        <div class="row container-fluid detailSpace">
            <div class="col-sm-3 col-6">
                <div class="card genre" id="thumbnail"></div>
                <div class="rating">
                    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                </div>
            </div>

            <div class="col-md-9 spaceOnDesktop">
                <h1 id="gameName" class="whiteText titleSpace"></h1>
                <p id="gameDescription" class="whiteText description"></p>
                <p id="gameReleaseDate" class="whiteText description"></p>
                <p id="gameGenres" class="whiteText description"></p>
                <p id="gameThemes" class="whiteText description"></p>
                <p id="gameStatus" class="whiteText description"></p>
                <p class="whiteText description"><strong>Developers:</strong></p>
                <ul id="gameDevelopers" class="whiteText description lessLeftPadding"></ul>
                <p class="whiteText description"><strong>Publishers:</strong></p>
                <ul id="gamePublishers" class="whiteText description lessLeftPadding"></ul>
            </div>
        </div>
    </section>

{% endblock %}

{% block similarGames %}

    <section class="mobile">
    </section>
    <section class="tablet">
    </section>
    <section class="desktop">
    </section>

    <h2 class="sectionHeading veryLightGrayText">Similar Games</h2>

    <section id="similarMovies">
    <div id="sm" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" id="smIndicators">
        <!-- assign the indicators -->
      </ol>
      <div class="carousel-inner heightAuto" id="smItems">
        <!-- assign items and cards -->
      </div>
      <a class="carousel-control-prev fivePercentWidthOnDesktop" href="#sm" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next fivePercentWidthOnDesktop" href="#sm" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </section>

{% endblock %}

{% block ajaxInfoGameBlock %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

        <!--Game Details -->
        $.ajax({
            type: "GET",
            url: "https://www.giantbomb.com/api/game/" + "{{ request.session.gameid }}" + "/?api_key=cbe9663e0fca45d439adc20d145f26d9395fa02f&format=jsonp",
            dataType: 'jsonp',
            crossDomain: true,
            jsonp: 'json_callback',
            success: function(result){
                console.log(result.results.image.screen_url);
                var totalGameInfo = result.results;

                if (totalGameInfo.images.length>=3){
                    var wallpaper = totalGameInfo.images[2].super_url;
                }else if (totalGameInfo.images.length>=2) {
                    var wallpaper = totalGameInfo.images[1].super_url;
                }else if (totalGameInfo.images.length>=1) {
                    var wallpaper = totalGameInfo.images[0].super_url;
                }else{
                  var wallpaper = totalGameInfo.image.screen_large_url;
                }

                var img = totalGameInfo.image.small_url;
                var genres = '<strong>Genres:</strong> ';
                var themes = '<strong>Themes:</strong> ';
                var developers = '';
                var publishers = '';
                $('#infoMovie').css('background', 'linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,1)), url(' + wallpaper + ') no-repeat center center fixed');
                $('#infoMovie').css('background-size', 'cover');
                $('#thumbnail').html('<img class="card-img-top movieThumbnail" src="' + img + '" alt="action">');
                $('#gameName').html(totalGameInfo.name);
                $('#gameDescription').html(totalGameInfo.deck);

                var releaseDate
                if (totalGameInfo.original_release_date==null){
                    releaseDate = "Unreleased"
                }else{
                    releaseDate = totalGameInfo.original_release_date.substr(0,10);
                }
                $('#gameReleaseDate').html('<strong>Release Date:</strong> ' + releaseDate);

                if (totalGameInfo.genres) {
                  for(var i = 0; i < totalGameInfo.genres.length; i++){
                      if (i === totalGameInfo.genres.length - 1 ) {
                          genres += totalGameInfo.genres[i].name + '.';
                      }else{
                          genres += totalGameInfo.genres[i].name + ', ';
                      }
                   }
                }
                $('#gameGenres').html(genres);

                if (totalGameInfo.themes) {
                  for(var i = 0; i < totalGameInfo.themes.length; i++){
                      if (i === totalGameInfo.themes.length - 1 ) {
                          themes += totalGameInfo.themes[i].name + '.';
                      }else{
                          themes += totalGameInfo.themes[i].name + ', ';
                      }
                  }
                $('#gameThemes').html(themes);
              }

                var gameStatus
                if (releaseDate == "Unreleased") {
                    gameStatus = releaseDate
                }else{
                  gameStatus = "Released"
                }
                $('#gameStatus').html('<strong>Status:</strong> ' + gameStatus);

                for(var i = 0; i < totalGameInfo.developers.length; i++){
                    developers += '<li>' + totalGameInfo.developers[i].name + '</li>';
                }
                $('#gameDevelopers').html(developers);

                for(var i = 0; i < totalGameInfo.publishers.length; i++){
                    publishers += '<li>' + totalGameInfo.publishers[i].name + '</li>';
                }
                $('#gamePublishers').html(publishers);

                <!--similar games-->
                if (totalGameInfo.similar_games) {
                  titles=[];
                  ids=[];
                  posterURLs=[];
                  for(var i = 0; i < totalGameInfo.similar_games.length; i++){

                      titles[i] = totalGameInfo.similar_games[i].name;
                      ids[i] = totalGameInfo.similar_games[i].id;
                  }
                  var carousel = 'sm';
                  getPoster(posterURLs, titles, ids, carousel);
              }
            }
        });

        <!-- Similar Games -->

        /*$.ajax({
            type: "GET",
            url: "https://api.themoviedb.org/3/movie/" + "{{ request.session.movieid }}" + "/similar?api_key=867611d6b3f8882764c7aec28bc288ed&language=en-US&page=1",
            dataType: "json",
            success: function(result){
                var movieDetails = result.results;
                var posterURLs = [];
                var titles = [];
                var ids = [];

            }
        });*/


        function getPoster(posterURLs, titles, ids, carousel) {
            var device;
            var carouselItems;
            var numberOfCards;
            var counter = 0;
            var width;
            var sectionID = '';
            var cardID = '';
            var indicatorsID = '';
            var urls = [];
            if($('.desktop').css('display') === 'block'){
                device = "desktop";
                numberOfCards = 6;
                carouselItems = Math.ceil(ids.length/numberOfCards);
            }else if($('.tablet').css('display') === 'block') {
                device = "tablet";
                numberOfCards = 3;
                carouselItems = Math.ceil(ids.length/numberOfCards);
            }else if($('.mobile').css('display') === 'block') {
                device = "mobile";
                numberOfCards = 2;
                carouselItems = Math.ceil(ids.length/numberOfCards);
            }
            width = 100/ numberOfCards;
            if(carousel === 'pm'){
                sectionID = '#popularMovies';
                cardID = '#pmItems';
                indicatorsID = '#pmIndicators';
            }else if(carousel === 'otp'){
                sectionID = '#ourTopPicks';
                cardID = '#otpItems';
                indicatorsID = '#otpIndicators';
            }else if(carousel === 'um'){
                sectionID = '#upcomingMovies';
                cardID = '#umItems';
                indicatorsID = '#umIndicators';
            }else if(carousel === 'sm'){
                sectionID = '#similarMovies';
                cardID = '#smItems';
                indicatorsID = '#smIndicators';
            }
            for(var i = 0; i < ids.length; i++){
                urls[i] = 'infoGames/' + ids[i] + '/';
            }
            carousel = '#' + carousel;
            $(sectionID).addClass(device);
            // make carousel
            var start = '<div class="carousel-item active">';
            var string = '';
            var list = '<li data-target="' + carousel + '" data-slide-to="0" class="active"></li>';
            for(var j = 0; j < (ids.length>numberOfCards?numberOfCards:ids.length); j++){
                string += '<div onclick="showLink(this)" link="' + urls[counter] + '" class="card genre" style="width:' + width + '%"> <div class="card-block"> <h4 class="card-title veryLightGrayText">' + titles[counter] + '</h4> </div></div>';
                counter++;
            }
            var final = start + string + '</div>';
            cardsRemaining=ids.length-counter;
            for(var i = 1; i < carouselItems; i++){
                    var start1 = '<div class="carousel-item">';
                    var string1 = '';
                    list += '<li data-target="' + carousel + '" data-slide-to="' + i + '"></li>';
                    for (var j = 0; j < (cardsRemaining>numberOfCards?numberOfCards:cardsRemaining); j++) {
                        if(counter === ids.length)
                            break;
                        string1 += '<div onclick="showLink(this)" link="' + urls[counter] + '" class="card genre" style="width:' + width + '%"> <div class="card-block"> <h4 class="card-title veryLightGrayText">' + titles[counter] + '</h4> </div></div>';
                        counter++;
                    }
                    cardsRemaining=cardsRemaining-numberOfCards;
                    final += start1 + string1 + '</div>';
            }
            $(indicatorsID).html(list);
            $(cardID).html(final);
        }

        function showLink(element){
            window.location.href = 'http://127.0.0.1:8000/games/' + element.attributes.link.value;
        }

        $(document).ready(function(){
        //  Check Radio-box
            $(".rating input:radio").attr("checked", false);
            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
            });

            $('input:radio').change(
            function(){
                var userRating = this.value;
                window.location.href = 'http://127.0.0.1:8000/movies/save/movie/rating/' + userRating + '/';
            });
        });

    </script>

{% endblock %}
